<DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	
<body>


 <div id="landing-header">
 		<h1>Rest Full Blog App With Semantic UI!</h1>
		<a href="/blogs" class="ui violet  button">View All Blogs</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
